# GotoMeeting_Student_RollNo_Extraction_For_Attendance

This Program works only if the format for GotoMeeting Login Name is **`RollNo-StudentName-CollegeName`** Here I have taken roll number as Key for finding if the student is present or not.

In [1]:
# Import the created module

from AttendanceModule import *

### Registered Students CSV File

In [2]:
studentsData = "Sample_Files/StudentsData.csv" # <-- Edit this

master = csv(studentsData) # Original Students Data 

master.head()

    Roll Number                   Name
0    15FE1A05H2               saikumar
1    12A51A0406           Balaga Kiran
2    172G1A0451         N. SAI HOTHRA
3  317126512123  Balabolu Sai Akhilesh
4  316126512065          bandaru divya

### Converting all the roll numbers to capital

In [3]:
master['Roll Number'] = rollNumber_upper(master['Roll Number'])

### Gotomeeting Session Attendance Excel File

In [4]:
goToMeetingAttendanceFile = "Sample_Files/GotoMeetingData.xls" ## Enter File Name Edit this

In [5]:
today = excel(goToMeetingAttendanceFile)
today.head()

,Name,Time in Session (minutes)
0,.,6
1,08A21A0525 -TONDAPU V D BHAVADHEER REDDY- SWAR...,122
2,08A21A0525 -TONDAPU V D BHAVADHEER REDDY- SWAR...,35
3,1,0
4,12121a05b3-ManasaVaishnavi-vidyanikethan,17

### Converting all the names to capital to avoid duplicates

In [6]:
today['Name'] = rollNumber_upper(today['Name'])

# Extracting the Roll numbers from Name

## Grouping all the rejoined students if any and calculating total time in the session

In [7]:
today = today.groupby('Name').sum().reset_index()

### Taking only students who have been in the meeting atleast 90 min

In [8]:
req_time = filterdf(today, 90)
req_time.head()

,Name,Time in Session (minutes)
1,08A21A0525 -TONDAPU V D BHAVADHEER REDDY- SWAR...,157
4,121710302013-CHITRALA PAVAN-GITAM,164
5,12A51A0406-BALAGA KIRAN-AITAM,122
6,12NT1A0513 - SRINIJA - VIET,93
9,150031049-SAINAGALAKSHMI YERRAMANENI-KLU,180

### Spliting the Roll numbers based on `-`,` ' '`,` _`

In [9]:
result = split_name(req_time['Name'], '-')

result = split_name(result, ' ')

result = split_name(result, '_')


FinalRollNumbers = split_name(result, ',')


FinalRollNumbers = remove_trainers(FinalRollNumbers)

print(FinalRollNumbers)

['08A21A0525', '121710302013', '12A51A0406', '12NT1A0513', '150031049', '160040861', '16121A02D6', '16351A0518', '168W1A02A4', '171FA04341', '17551A0411', '17A81A0537', '17A81A05H2', '17A81A05I4', '17B81A04C9', '17B81A04E2', '17B81A04F9', '17BC1A0510', '17BQ1A0430', '17HU1A05A0', '17JG1A1211', '17KA1A0506', '17KN1A1258', '17L31A05J9', '17MK1A0535', '18021D0501', '183T1A0523', '186F5A0428', '188A5A0208', '18A81A0208', '18F01A0514', '18H71A0575', '18JG1A0568', '18KD1A0428', '18KN1A1211', '18MG5A0220', '198A5F0004', '198A5F0007', '321810401020', 'L18CS188', 'L19CS190', 'L19CS198', "LINGAYA'S", 'P.PRABHU', 'R141254', 'Y17CS001', 'Y17EC174', 'Y18CS166']

In [10]:
len(FinalRollNumbers), len(list(set(FinalRollNumbers)))

(48, 48)

In [11]:
FinalRollNumbers = list(set(FinalRollNumbers))

In [12]:
FinalRollNumbers

['321810401020',
 "LINGAYA'S",
 '17KN1A1258',
 '17BQ1A0430',
 '17KA1A0506',
 '18KD1A0428',
 '16351A0518',
 '18A81A0208',
 'L18CS188',
 'L19CS190',
 '17JG1A1211',
 '198A5F0004',
 '17B81A04F9',
 '18F01A0514',
 '17551A0411',
 '18KN1A1211',
 '198A5F0007',
 '08A21A0525',
 '18021D0501',
 '17B81A04C9',
 '17A81A05H2',
 '17MK1A0535',
 '121710302013',
 '183T1A0523',
 '17BC1A0510',
 'R141254',
 '150031049',
 'P.PRABHU',
 '17A81A05I4',
 'Y18CS166',
 '160040861',
 '17A81A0537',
 '12A51A0406',
 '17HU1A05A0',
 '188A5A0208',
 '171FA04341',
 '17B81A04E2',
 'Y17EC174',
 '17L31A05J9',
 '168W1A02A4',
 '12NT1A0513',
 '18H71A0575',
 '16121A02D6',
 '18MG5A0220',
 'L19CS198',
 'Y17CS001',
 '186F5A0428',
 '18JG1A0568']

### Removing non roll numbers data from the list

In [13]:
req = []

for num in FinalRollNumbers:
    if num.isalnum():
        req.append(num)
    else:
        print(num)
len(req)

LINGAYA'S
P.PRABHU

46

In [14]:
FinalRollNumbers = req.copy()

In [15]:
import pandas as pd

### Enter the File Name to save the output

In [16]:
outputfile = '2020-07-25'  # <-- Edit this

In [17]:
FinalStudentAttendees = pd.DataFrame(FinalRollNumbers, columns=['Roll Number'])
FinalStudentAttendees[outputfile] = ['P' for i in range(len(FinalRollNumbers))]
FinalStudentAttendees.head()

    Roll Number 2020-07-25
0  321810401020          P
1    17KN1A1258          P
2    17BQ1A0430          P
3    17KA1A0506          P
4    18KD1A0428          P

### Merging the main students df and gotomeeting students df

In [18]:
FinalStudentAttendees = pd.merge(master, FinalStudentAttendees, how = 'left', on = 'Roll Number')

In [19]:
master.shape

(135, 2)

In [20]:
FinalStudentAttendees[outputfile].value_counts()

P    45
Name: 2020-07-25, dtype: int64

In [21]:
Unknown = pd.merge(master, FinalStudentAttendees, how = 'right', on = 'Roll Number').tail(10)
Unknown

,Roll Number,Name_x,Name_y,2020-07-25
127,171FA04027,Katragadda Bala Siva Sai Samskar,Katragadda Bala Siva Sai Samskar,NaN
128,171FA04341,Himaja Katta,Himaja Katta,P
129,17L31A1934,DHANTULURI SWATHI SRI,DHANTULURI SWATHI SRI,NaN
130,18L31A0592,DASARI SHYAM KUMAR,DASARI SHYAM KUMAR,NaN
131,18L31A05J8,Manikanta Goli,Manikanta Goli,NaN
132,18FE1A05A1,PADALA LIKHITH RISHI,PADALA LIKHITH RISHI,NaN
133,15NN1A1281,Navya Gonuguntla,Navya Gonuguntla,NaN
134,12NT1A0513,Srinija,Srinija,P
135,158W1A0498,PILLI GNANA SWETHA,PILLI GNANA SWETHA,NaN
136,153B1A0538,Konala Veera Badhra Trinadh Reddy,Konala Veera Badhra Trinadh Reddy,NaN

In [22]:
FinalStudentAttendees.shape

(135, 3)

In [23]:
FinalStudentAttendees.fillna('A', inplace=True)

In [24]:
FinalStudentAttendees.to_excel(outputfile +'.xlsx', sheet_name=outputfile)

### Unknow rollnumbers from our main student list in gotomeeting

In [25]:
for i in range(len(FinalRollNumbers)):
    if FinalRollNumbers[i] not in list(FinalStudentAttendees['Roll Number']):
        print(FinalRollNumbers[i])

18KD1A0428