# GotoMeeting_Student_RollNo_Extraction_For_Attendance

This Program works only if the format for GotoMeeting Login Name is **`RollNo-StudentName-CollegeName`** Here I have taken roll number as Key for finding if the student is present or not.

In [1]:
# Import the created module

from AttendanceModule import *
import pandas as pd

### Registered Students CSV File

In [2]:
studentsData = "Sample_Files/StudentsData.csv" # <-- Edit this

master = csv(studentsData) # Original Students Data in upper case rollNumber

master.head()

    Roll Number                   Name
0    15FE1A05H2               saikumar
1    12A51A0406           Balaga Kiran
2    172G1A0451         N. SAI HOTHRA
3  317126512123  Balabolu Sai Akhilesh
4  316126512065          bandaru divya

### Gotomeeting Session Attendance Excel File

In [3]:
goToMeetingAttendanceFile = "Sample_Files/GotoMeetingData.xls" ## Enter File Name Edit this

In [4]:
# Importing gotomeeting attendees data with Name in upper case and groupp similar data
today = excel(goToMeetingAttendanceFile) 
today.head()

,Name,Time in Session (minutes)
0,.,6
1,08A21A0525 -TONDAPU V D BHAVADHEER REDDY- SWAR...,157
2,1,0
3,12121A05B3-MANASAVAISHNAVI-VIDYANIKETHAN,17
4,121710302013-CHITRALA PAVAN-GITAM,164

# Extracting the Roll numbers from Name

### Spliting the Roll numbers based on `-`,` ' '`,` _`

In [5]:
result = split_name(today[['Name', 'Time in Session (minutes)']], '-')

result = split_name(pd.DataFrame(result), ' ')

result = split_name(pd.DataFrame(result), '_')

FinalRollNumbers = split_name(pd.DataFrame(result), ',')


print(FinalRollNumbers)

[['.', 6], ['08A21A0525', 157], ['1', 0], ['12121A05B3', 17], ['121710302013', 164], ['12A51A0406', 122], ['12NT1A0513', 93], ['14751A0505', 43], ['14KT1A0328', 17], ['150031049', 180], ['15NF1A0426', 66], ['160040861', 160], ['16121A02D6', 176], ['16351A0518', 106], ['168W1A02A4', 182], ['171FA04027', 14], ['171FA04341', 169], ['172G1A0451', 68], ['17481A05A4', 25], ['17551A0411', 151], ['1771080', 67], ['1771080', 16], ['1771084', 56], ['17A81A0537', 172], ['17A81A05C4', 88], ['17A81A05C6', 46], ['17A81A05H2', 162], ['17A81A05I4', 162], ['17B81A04C9', 157], ['17B81A04E2', 154], ['17B81A04F9', 135], ['17BC1A0510', 175], ['17BQ1A0430', 171], ['17FE1A1217', 28], ['17HU1A05A0', 190], ['17JG1A1211', 97], ['17KA1A0506', 171], ['17KN1A1258', 175], ['17L31A05J9', 175], ['17L31A1934', 81], ['17MK1A0535', 105], ['180050041', 76], ['18021D0501', 162], ['183T1A0523', 182], ['186F5A0428', 137], ['188A5A0208', 123], ['18A81A0208', 182], ['18AT1A0527', 68], ['18AT1A0559', 32], ['18AT1A0559', 44], ['18F01A0514', 111], ['18H71A0575', 165], ['18JG1A0568', 143], ['18JG1A0568', 3], ['18KD1A0428', 162], ['18KN1A1211', 174], ['18MG5A0220', 167], ['198A5F0002', 27], ['198A5F0004', 179], ['198A5F0007', 168], ['198A5F0030', 62], ['321810401020', 169], ['A', 0], ['ANALYSIS', 3], ['ANIL', 212], ['BHAVANA', 0], ['DIWAKARREDDY', 1], ['JUVVANABOINA', 4], ['L18CS188', 150], ['L19CS190', 129], ['L19CS198', 175], ["LINGAYA'S", 169], ['MADEVI@APSSDC', 170], ['N150292', 88], ['P.PRABHU', 182], ['R141254', 177], ['RANGANAYAKULU', 189], ['SAHUKARA', 3], ['SAI', 54], ['SAMEERA', 6], ['SARVANI', 22], ['SATISH', 2], ['SOMISETTI', 1], ['SRI', 2], ['SUMANTH', 151], ['Y17CS001', 93], ['Y17EC174', 180], ['Y18CS166', 164], ['[WAITING', 0]]

In [6]:
FinalStudentAttendees = pd.DataFrame(FinalRollNumbers, columns=['Roll Number', 'Time in min'])

# Creating Students Attendees DataFrame
FinalStudentAttendees.head()

    Roll Number  Time in min
0             .            6
1    08A21A0525          157
2             1            0
3    12121A05B3           17
4  121710302013          164

### Enter the File Name to save the output

In [7]:
outputfile = '2020-07-25'  # <-- Edit this

### Giving P/A based on time criteria

In [8]:
req_time = 100 # let us say for 100 min

FinalStudentAttendees[outputfile] = ['P' if i > req_time else 'A' for i in FinalStudentAttendees['Time in min']]

FinalStudentAttendees.head()

    Roll Number  Time in min 2020-07-25
0             .            6          A
1    08A21A0525          157          P
2             1            0          A
3    12121A05B3           17          A
4  121710302013          164          P

### Merging the main students df and gotomeeting students df

In [9]:
FinalStudentAttendees = pd.merge(master, FinalStudentAttendees, how = 'left', on = 'Roll Number')

In [10]:
FinalStudentAttendees.shape

(139, 4)

In [11]:
FinalStudentAttendees.fillna('A', inplace=True)

In [12]:
FinalStudentAttendees.to_excel(outputfile +'.xlsx', sheet_name=outputfile)

### Unknow rollnumbers from our main student list in gotomeeting

In [13]:
for i in range(len(FinalRollNumbers)):
    if FinalRollNumbers[i][0] not in list(FinalStudentAttendees['Roll Number']):
        print(' ➡ '.join(map(str, FinalRollNumbers[i])))

. ➡ 6
1 ➡ 0
1771084 ➡ 56
18KD1A0428 ➡ 162
A ➡ 0
ANALYSIS ➡ 3
ANIL ➡ 212
BHAVANA ➡ 0
DIWAKARREDDY ➡ 1
JUVVANABOINA ➡ 4
LINGAYA'S ➡ 169
MADEVI@APSSDC ➡ 170
P.PRABHU ➡ 182
RANGANAYAKULU ➡ 189
SAHUKARA ➡ 3
SAI ➡ 54
SAMEERA ➡ 6
SARVANI ➡ 22
SATISH ➡ 2
SOMISETTI ➡ 1
SRI ➡ 2
SUMANTH ➡ 151
[WAITING ➡ 0